[2019-02-05 07:24] shanmukhateja opened #1 "Autoplay audio when ready?"
Hi,

I was wondering if the player can play an audio retrieved from URL automatically when ready?

**My Setup:**
1. `ngx-audio-player` is enclosed inside a parent `div` which is by default. (`visibility:hidden`)

2. I have created a custom "Play" button on `home.component.html ` and when the user clicks it, the `audioUrl` is set to a URL with audio file.

**Problem:**
So, once the Url is set, I wo

[2019-02-05 09:02] shanmukhateja commented on #1
I found the solution. Still, it would be great if the player supports this by default!

[code]
I'm closing the issue now.

[2019-02-05 09:02] #1 closed

[2019-02-16 18:01] th0rben opened #2 "it would be great to display the author/interpret of the audio (besides including it in the title)"

[2019-03-06 01:36] Arsenalist opened #3 "The play button in the play list in the advanced view is not clickable"

[2019-05-05 06:54] Pavan-Deepak opened #4 "It would be great if i can get method that logs current time of the ngx-audio-player while playing"

[2019-05-10 13:24] hrosx opened #5 "Affecting my project style."
How can I avoid the CSS CDN in this project is affecting my site style.

[2019-05-18 09:22] vmudigal commented on #4
Hi Pavan, but why would anyone need it? Could you please explain one scenario if you have thought about?

[2019-05-18 09:25] vmudigal commented on #3
Hi Arsenalist, could you please explain the steps to reproduce the issue along with the environment details such as browser, operating systems etc? Thanks.

[2019-05-18 09:27] vmudigal commented on #2
This is great. Could you help me by contributing and raising a pull request?

[2019-05-18 17:28] Arsenalist commented on #3
If an audio clip is playing in a play list, the playlist list gets a play button next to the clip that's playing.  That play button I think should be clickable to pause/play.

[2019-05-20 05:21] Pavan-Deepak commented on #4
Hi Vmudigal,
I am using AWS polly Text to speech service and was able to integrate ngx audio player. But now i am integrating Speech mark  API while audio is playing it highlights the text in the textarea so i need a method that logs current time of audio so i can match the audio player current time  and speech mark time and highlight start and end char of the word.

[2019-05-23 09:12] Doehl commented on #4
Hi Vmudigal,

I have the exact same use case as Pavan-Deepak.
But I can even think of a lot other use cases, where you need to actions based on timestamp.

[2019-05-26 19:27] SeoBoSeok opened #6 "After ng build --prod process, I got this.bindPlayEvent is not a function error"
Wonderful audio player for ng7+
But I got some errors after finishing build --prod then,

this.bindPlayerEvent is not a function
at e.ngOnInit ........

How can I fix this issue?

[2019-05-27 08:32] SeoBoSeok commented on #6
I just remove all package and reinstall and build again~!!
All errors has gone.

But, Now I got new error in this time.
I check mobile device and figure out player is something wrong.

Is this module not support for mobile web browser?

[2019-06-17 14:33] dmbrenneman opened #7 "Audio won't load/play on iOS"
On iOS, the loading spinner just spins continuously and the audio can never be played. It works fine on Windows in multiple browsers, but on iOS it never loads using either Safari or Chrome browser.

[2019-06-17 15:22] dmbrenneman opened #8 "Enhancement Request: Volume control"
It would be great if the basic player had some form of volume control for users to interact with.

[2019-06-26 20:27] vmudigal commented on #6
It should support mobile web browser as well as its responsive in nature.

[2019-07-01 18:03] Big18Al commented on #7
I'm having the same issue on windows

[2019-07-03 02:06] vmudigal commented on #8
The basic player and advanced player now has the volume control to mute/unmute as show in the image below.

Basic Player:

![alt text](https://github.com/vmudigal/ngx-audio-player/blob/master/docs/images/basic-player.png?raw=true)

Advanced Player:

![alt text](https://github.com/vmudigal/ngx-audio-player/blob/master/docs/images/advanced-player.png?raw=true)

[2019-07-03 02:06] #8 closed

[2019-07-03 02:10] vmudigal commented on #3
The icon that appears next the to title in a playlist is meant to just indicate that track that is currently being played. Maybe the icon is bit confusing.

[2019-07-03 02:15] vmudigal commented on #7
I have noticed this issue when the URL of the audio is broken. Could you please confirm if thats the scenario here?

[2019-07-03 02:18] #6 closed

[2019-07-03 02:45] Big18Al commented on #7
Yes, I got it working. The url was the issue

On Tue, Jul 2, 2019, 10:15 PM Vijayendra Mudigal <notifications@github.com>
wrote:

[2019-07-03 12:49] dmbrenneman commented on #8
Great....however, it would be preferable to allow the user to control the volume level rather than just mute/unmute.

[2019-07-03 13:08] vmudigal commented on #8
I initially thought of the same. But unfortunately, that does not go well
with the mobile browsers.

On Wed, 3 Jul 2019, 13:49 dmbrenneman, <notifications@github.com> wrote:

[2019-07-03 13:25] dmbrenneman commented on #8
Right, that does present a challenge. What about conditional logic to disable the feature for mobile devices using some kind of function for checking the userAgent?

[2019-07-03 18:23] vmudigal commented on #8
That's not a problem, but won't be consistent across web and mobile.
Compare few sites like amazon music. The native mobile app does not have
volume controls.

Let me know if it makes a huge difference.

On Wed, 3 Jul 2019, 14:25 dmbrenneman, <notifications@github.com> wrote:

[2019-07-10 18:32] danielkuhlwein opened #9 "Error: BrowserModule has already been loaded."
After importing NgxAudioPlayerModule to my shared.module.ts, Angular throws this error:

`core.js:5847 ERROR Error: Uncaught (in promise): Error: BrowserModule has already been loaded. If you need access to common directives such as NgIf and NgFor from a lazy loaded module, import CommonModule instead.`

It seems as though it might be conflicting with one of the other modules already imported into

[2019-07-17 08:11] ibtisamniche-vteams opened #14 "Method for detecting audio is completed or not and method for getting audio played percentage."
@vmudigal Hi!
I have a project of learning management in which I made tutorials ( there are lessons in the tutorial ). Admin is uploading the audio in lesson and the student would listen that audio. I am going to enforce my students to listen full audio lesson before navigating to the next one so I need the feature to know if the audio is finished or not. If there would be the event that will be t

[2019-07-20 19:10] jwhijazi opened #15 "Streaming audio urls"
Thanks for developing this component.

I'm using your ngx-audio-player for streaming audio from url.
The player is working fine but the end time displayed looks like this (-ty:aN).
I think this is because the stream doesn't contain end time.

So it would be great if you consider the situation when the stream url is endless.

Thanks.

[2019-07-24 07:18] Epsilon-Rashmi opened #16 "Multiple instances of basic audio player"
I need to implement multiple instances of the basic audio player in a single page, when one audio is playing and I click on another audio player, rest of the audio player should stop playing.  How do I achieve this?

[2019-07-24 13:21] Epsilon-Rashmi commented on #16
Solved this with the below approach.

constructor() {
         this.audioCheck();
}
audioCheck(){
  let previousAudio;
   window.addEventListener("play", function(evt){
        if(previousAudio && previousAudio != evt.target){
        previousAudio.pause();
      }
      previousAudio = evt.target;

  }, true);
}

[2019-07-24 13:21] #16 closed

[2019-08-01 17:35] yuliankarapetkov opened #17 "Remove the event listeners to avoid memory leaks"
I am not certain about this issue but I think removing the event listeners might be a good thing to do to avoid memory leaks.

https://github.com/vmudigal/ngx-audio-player/blob/bbedcf06d1fde0d381b4a55315c636b77886162c/projects/ngx-audio-player/src/lib/component/base/base-audio-player-components.ts#L20

[2019-08-26 12:54] SumitRajpal opened #19 "isn't a known property of 'mat-basic-audio-player'"
1. angular-fontawesome@0.3.0

I have installed all package but it still giving me error.

![Screenshot_1](https://user-images.githubusercontent.com/7436825/63692191-b6a79e80-c82e-11e9-9373-107f60315922.png)

[2019-09-04 00:22] camilocano146 commented on #5
I have the same problem, the library add some styles to project, that styles issue my app.

[2019-09-04 16:19] vmudigal commented on #9
Never came across this issue. Did you find the root cause?

[2019-09-04 16:20] vmudigal commented on #17
Make sense, could you please send the PR?

[2019-09-04 16:23] danielkuhlwein commented on #9
Unfortunately I did not. I ended up just using HTML5's audio tag instead.

If I have time in the future I can try creating a reproducible stackblitz or something if you want to check it out for yourself 👍🏻

[2019-09-12 14:07] alfunso14 opened #20 "Fontawsome icons not showing in the audio player when updated to the last version"
I hided some buttons like forward button and backward button, and all was working fine, but when i updated the version of fontawsome to the last version 5, the icon not showing correctly, i tried updating and reinstalling ngx-audio-player, but didn't solve it, any help will be appreciated

<img width="194" alt="Capture" src="https://user-images.githubusercontent.com/49029877/64790702-2d5ad080-d57f

[2019-09-13 15:09] juniohyago opened #21 "Auto-play áudio"
Hello
how can i put to automatically start the audio?

[2019-09-18 06:17] nishankkumar1994 opened #22 "Not working in IE11"

[2019-09-19 15:41] immersiontools commented on #5
Same problem ! Did you find a solution?

[2019-10-17 01:52] andrewsteier opened #23 "TypeError: Cannot read property 'title' of undefined"
I'm building msaapPlaylist with array.push, but I get the cannot read property 'title' of undefined error.
If I leave the track hard coded like it is in the example, it works fine. (not gonna cut it)

[2019-10-26 09:02] EdricChan03 opened #24 "Use royalty free music for the demo app"
It seems that the current demo audio files that are used may be pirated which may raise legal concerns.

As a solution to this, I suggest that royalty free music should be used instead from one of the following sources:

* Ben Sound: https://www.bensound.com/royalty-free-music
* Free Music Archive: https://freemusicarchive.org/

[2019-10-27 07:40] EdricChan03 opened #28 "Integrate both basic and advanced audio players together"
Both of the audio players should be integrated into one single component in order to remove the additional duplicated code.

[2019-10-27 09:43] #24 closed

[2019-10-29 15:15] KappaDiElle opened #31 "The "missing minutes:seconds" indicator lags."
I am using the <mat-basic-audio-player> and the indicator of the missing seconds updates:
  - every time I press play (random values like "-11:98");
  - Not every seconds (something like 1 time every 5 sec).
The console is clear but to me it seems that there's some error that is bugging all the player.

Here is my package.json (the relevant part):
"@angular/material": "^8.2.2",
"@fortawesome/angul

[2019-11-05 08:27] Babu1566 commented on #19
**Please install this npm package**
npm install ngx-audio-player --save

**Add in your package.json file**
"@angular/material": "^8.0.0",
"@fortawesome/angular-fontawesome": "^0.4.0",
"@fortawesome/fontawesome-svg-core": "^1.2.19",
 "@fortawesome/free-solid-svg-icons": "^5.9.0"

[2019-11-08 14:46] vmudigal commented on #23
@andrewsteier Could you please share the code? I am not able to replicate the issue.

Below example worked for me.
[code]

[2019-11-08 18:39] #21 closed

[2019-11-13 18:30] kryne commented on #19
I have same problem. Any solution?

[2019-11-15 07:00] bollerdominik commented on #5
+1 For not wanting to load in bootstrap and font awesome.

Hopping #27 will be merged eventually

[2019-12-05 14:32] malibayram91 opened #32 "Failed to compile."
Failed to compile.

./node_modules/ngx-audio-player/fesm2015/ngx-audio-player.js
Module not found: Error: Can't resolve '@fortawesome/angular-fontawesome' in '/Users/user/angular/my-app/node_modules/ngx-audio-player/fesm2015'

[2019-12-05 14:35] malibayram91 commented on #32
please change  @fortawesome to @fontawesome
r => n

[2019-12-21 16:07] EdricChan03 commented on #5
@bollerdominik Sorry for the long wait, but the spaghetti of code used for the component is too messy for me to fix in one small PR. The code has lots of troublesome issues, including:
* _Hardcoded_ styles (ugh)
* Unfinished tests
  * Tests using the wrong APIs altogether! (for e.g. using e2e-related infrastructure in component tests)
* Unfinished CI (continuous integration) system (currently only

[2020-01-13 08:01] cedricsandars commented on #7
@vmudigal - This issue is happening in all iPhones. Both simulator as well as real devices. I also doubted that it could be due to a broken URL, but even in the working demo provided in the documentation, the basic player keeps on loading.

![Skype_Picture_2020_01_13T08_00_07_322Z](https://user-images.githubusercontent.com/2046221/72240048-e6521a00-3608-11ea-962e-12680e0a2f63.jpeg)

[2020-01-13 13:47] anuj9196 opened #35 "Support for extra action buttons"
- [x] Feature request

Can it be possible to pass extra action buttons like `download track`, `download playlist`. It would be helpful if provided so that user can download the file directly.

[2020-01-20 14:40] Ant-Pinto commented on #20
@alfunso14 Did you ever figure this out?

[2020-01-20 15:44] Ant-Pinto opened #36 "Icons not loading at all"
Hello all!

This player is super neat and I would like to use it in a project I'm working on, but for some reason I can't get the player's icons to load. Functionality and all that is there mostly, just the icons keep being stuck on a loading animation, transitioning between a '?' and '!'. I've tried downgrading fortawesome versions & player version to no avail, same issue.

Here's what I'm talkin

[2020-02-10 06:05] kunjirsantosh opened #37 "Error during template compile of 'NgxAudioPlayerModule' Could not resolve @fortawesome/angular-fontawesome relative to [object Object].."
This error comes after Angular 9 update. in angular 8 it was working fine.

ERROR in ngx-audio-player/ngx-audio-player.ts(27,40): Error during template compile of 'NgxAudioPlayerModule'
  Could not resolve @fortawesome/angular-fontawesome relative to [object Object]..

[2020-02-11 01:29] vmudigal commented on #37
Could you please try using ngx-audio-player@9.0.3 and let me know if you still face this issue?

[2020-02-11 01:34] vmudigal commented on #20
Could you please try with ngx-audio-player@9.0.3?

[2020-02-11 01:36] vmudigal commented on #19
@kryne Could you please add your code in stackbliz and share?

[2020-02-11 04:49] kunjirsantosh commented on #37
This error is fixed @ ngx-audio-player@9.0.3

[2020-02-11 04:49] #37 closed

[2020-02-11 07:33] vmudigal commented on #36
If you are using angular 8, try setting "@fortawesome/angular-fontawesome" version to ~0.4.0. Incase if you are using angular 9, you could use "@fortawesome/angular-fontawesome" version ^0.4.0 which is 0.6.0 as of now but make sure to use ngx-audio-player@9.0.3.

Hope this helps.

[2020-02-11 13:43] Ant-Pinto commented on #36
Thanks for the info! I actually decided to just use the simple basic html audio player because I couldn't find a solution to the problem in time, but maybe this'll help someone else in the future!

[2020-02-11 13:43] #36 closed

[2020-02-12 06:47] mohitande opened #40 "require play, pause and stop events"

[2020-02-12 11:14] vmudigal commented on #40
Could you please explain in detail? Play and pause are already there right? And why stop when you could just pause?

[2020-02-13 03:30] Sovuthea1 opened #41 "duration label has minus (-) sign"
the duration of the player include minus (-) sign in front of it.

[2020-02-18 17:39] Oliverq755 opened #42 "How do I initiate playing of song on click of song URL?"
I found this library very useful however when I started the implementation in my application I lost how to implement the play action on click of URL dynamically.
## Use case
I have multiple cards of some information like (songName, songURL, scope, rating) like
[code]

I have multiple cards like this and a play button on it. When I click it I want to initiate the play on the ngx-audio-player compon

[2020-02-19 18:26] ismailelbadawy opened #43 "Detect song title in advanced player"
I need a way to detect the current playing song in the advanced player because I want to show it in a different component other than the player title. This just cares about style.

[2020-02-19 23:32] ismailelbadawy opened #44 "Error when not showing playlist in advanced player"
If you hide the playlist and then try to skip a song, an exception is thrown.

[2020-02-22 21:48] raphael-jungers commented on #42
You could try like this :

Retrieve your player inside your TypeScript component

`@ViewChild(MatBasicAudioPlayerComponent)
    player: MatBasicAudioPlayerComponent;`

When a card is clicked, change the audioUrl value, reset the player and play the song

`play(trackInfo: Track): void {
    this.currentAudioUrl = trackInfo.songURL;
    this.player.resetSong();
    this.player.play();
  }`

[2020-02-25 17:20] #44 closed

[2020-03-10 10:10] bbarn3y commented on #23
Hi,
I ran into the same error message, although it's possible that the cause is different.

I managed to reproduce, that in my case the error occurs when the last element of my playlist is selected, but then I remove the element before it from the playlist [the (n - 1)th element of the playlist].

Full stack trace:
![image](https://user-images.githubusercontent.com/8375284/76301884-54405800-62bf-1

[2020-03-20 20:46] brdppl opened #47 "Repeat/Loop function"
First, this is a great audio player for Angular!
But, is it possible to implement the repeat function?
Thanks!

[2020-03-23 09:03] v-akhilari opened #48 "Volume control for adjusting volume levels"
I think the volume control present is for mute/ unmute audio. But can we have a volume control for adjusting volume controls as well?

[2020-03-25 14:40] akhil-ambady opened #49 "Header"
Thanks for developing this component.

I'm using your ngx-audio-player for streaming audio from URL.
The player is working fine. I need to know how to add authorized token to header for the URL.
This is to stream the audio file which is the response from an API which is authorized.

So it would be great if you address this issue.

[2020-03-26 07:52] vmudigal commented on #49
Hi Akhil,

Do you have a solution for this? If so, send me the pull request.

It would also be good if you could share the exact steps that you are
trying to do with example.

Thanks.

Best Regards,
Vijayendra

On Wed, 25 Mar 2020, 14:40 Akhil A Ambady, <notifications@github.com> wrote:

[2020-03-26 14:27] akhil-ambady commented on #49
No, I don't have a solution for this. I would like to know whether we can add an authorized token with header.

Thanks.

Best Regards,
Akhil A Ambady

[2020-04-08 00:59] naveen11 commented on #23
is this issue resolved?

[2020-04-22 03:05] amir734jj opened #50 "Playlist <table> does not get updated after new song is added to track list"
I am using the "Advanced Player" and when I push a new track to the `msaapPlaylist`, the playlist `<table>` does not get updated. I think this is a bug.

Also, is there a way to get the index of the current song being currently played? maybe it would be great if you could expose `AudioPlayerService`

[2020-04-25 00:34] ewwwgiddings opened #51 "Player Responsive Size (Smaller)"
Is there any way to allow this to be smaller than ~300px? Around that point the player overruns other items on the page instead of being responsive.

Edit: I made a false statement about the volume button. It looked like it was overflowing but it was the effect of the whole player overflowing its bounding area.

[2020-04-25 00:45] ewwwgiddings commented on #51
When I say smaller I mean by maybe 50px - not drastically.

I see it is 300px by this:
`.ngx-basic-audio-player {
    min-width: 300px;
}`

[2020-04-25 01:11] ewwwgiddings commented on #51
There's probably a much more elegant way but if anyone sees this and is wondering. I changed some min-widths and padding but only for the size I needed it using a Bootstrap media query:

    .ngx-basic-audio-player-button-handler {

        min-width: 35px !important;

    }

    .ngx-basic-audio-player {

        min-width: 280px !important;

    }

    .ngx-basic-audio-player-duration .pl-2.pr-3

[2020-04-25 01:11] #51 closed

[2020-04-26 22:32] johanchouquet opened #52 "Ended event not exposed"
Hi there,

This is a feature request.

First, thank you for this library!

I'd like to be able to use the "ended" event at the end of a basic audio stream, like in:

[Ended event](https://developer.mozilla.org/fr/docs/Web/API/HTMLMediaElement/ended_event)
[Can i Use](https://caniuse.com/#feat=mdn-api_htmlmediaelement_ended)

The API the library provides doesn't seem to expose this one.

Would be g

[2020-05-06 18:00] ewwwgiddings commented on #7
Now the play button doesn't show on the example when using an iPhone. Has anyone solved this? I am using it on my site but if it doesn't work on iPhone I need to find an alternative.

[2020-05-06 18:18] ewwwgiddings commented on #7
@vmudigal It's only the basic audio player. The advanced one is fine. Maybe the problem is in the difference between the two.

[2020-05-07 14:51] dcstang opened #53 "Not able to play on mobile (IOS)"
Hi and thanks for this cool npm. Love it, and works brilliant on chrome desktop.
But it doesn't play on mobile chrome browers on my phone or tablet. The play button does not appear at all, though the rest of the UI is there.

[2020-05-07 21:30] ewwwgiddings commented on #53
This is also an issue for me.

The advanced player has the play button showing. I used advanced player with all options false including title thinking it would work. That doesn't work either.

Nothing plays on mobile.

This is how I initialize it with an mp3:
`  <mat-advanced-audio-player
  [playlist]="msaapPlaylist"
  [displayTitle]="false"
  [displayPlaylist]="false"
  [expanded]="false"
  [disp

[2020-05-07 22:01] ewwwgiddings commented on #53
One thing that may provide a clue is that the audio does play on mobile if you tap the track in the advanced player. The play button does not show up, but it does if you tap a song to start the song.

This says to me that the error on mobile is with the initializing of the player's audio. The audio plays on mobile, but the player has an error with initializing it.

My guess, because I saw various

[2020-05-08 00:24] ewwwgiddings commented on #53
Maybe it's related to the need for user interaction before playing media?

[2020-05-11 20:20] ewwwgiddings opened #54 "More Than One Advanced Player Per Page"
I am getting an error when I have two instances of mat-advanced-audio-player per page. When one gets loaded after another one, the first one's data such as Title and Link get over rode.

Any idea why this would happen, or how to fix it?

[2020-05-11 20:41] ewwwgiddings commented on #54
The title's inside the expanded playlist don't get changed. It's only on the player and player's title where things get changed to the latest loaded.

Is it pointing to a global variable? If so, any way to point it more locally so more than one instance can be loaded on a page?

[2020-05-13 03:03] vmudigal commented on #53
Could you help me replicate the issue?

Know issue: does not play if the audio url is broken.

The working sample is at https://ngx-audio-player-v9-advanced.stackblitz.io

[2020-05-13 03:19] #32 closed

[2020-05-13 03:20] vmudigal commented on #32
Its obselete.

[2020-05-13 04:21] ewwwgiddings commented on #53
Hi, Yes you can duplicate it by using an iPhone and going to your link here:
https://vmudigal.github.io/ngx-audio-player/

[2020-05-13 16:11] #9 closed

[2020-05-13 17:34] vmudigal commented on #53
Fixed the issue in https://github.com/vmudigal/ngx-audio-player/commit/93ef04e9e0cf722256357269b4a08303b47fe025.

Fixed available in https://www.npmjs.com/package/ngx-audio-player/v/9.0.7

[2020-05-13 17:34] #53 closed

[2020-05-13 17:35] vmudigal commented on #52
Fixed the issue in https://github.com/vmudigal/ngx-audio-player/commit/93ef04e9e0cf722256357269b4a08303b47fe025.
Fix available in https://www.npmjs.com/package/ngx-audio-player/v/9.0.7

[2020-05-13 17:35] #52 closed

[2020-05-13 17:57] vmudigal commented on #54
That's a know limitation of this library. Won't be taking it in the near future.

[2020-05-13 17:57] #54 closed

[2020-05-13 18:01] vmudigal commented on #41
It is intentionally implemented that way to indicate that the time is reducing.

[2020-05-13 18:01] #41 closed

[2020-05-13 18:12] ewwwgiddings commented on #54
It would be nice to have that stated in the README.

I started to use Plyr in place of the audio portion and built my own similar layout instead of this library for this reason.

It would be nice to state that on the README so people know limitations up front.

[2020-05-13 18:37] vmudigal commented on #28
@EdricChan03 Could you please help me with this when you have time?

[2020-05-18 15:41] karincayazilim commented on #40
I need the on Start () button to start it. I wonder if you can. Slider (for rewind) disable feature required.

[2020-05-18 15:42] karincayazilim commented on #40
We can understand that it has stopped but you do not return any information that it has started. I want to disable items on my page when it starts playing

[2020-05-18 16:10] karincayazilim commented on #40
Can we turn off the STOP feature. Can he steal once to the end? you can't stop

[2020-05-19 08:57] karincayazilim commented on #40
any solution please.. @vmudigal

[2020-05-20 08:08] sanjay-devappsys opened #57 "Property 'onEnded' does not exist on type 'AppComponent'."
In angular 9 i'm having this issue

[2020-05-21 17:07] Kyaw-Zin-Thant opened #58 "Auto Play Error"
DOMException: play() failed because the user didn't interact with the document first.
I faced error in auto play error .
    <mat-basic-audio-player [audioUrl]="msbapAudioUrl" [title]="msbapTitle" [autoPlay]="true" muted="muted" (ended)="onEnded($event)" [displayTitle]="msbapDisplayTitle"
        [displayVolumeControls]="msaapDisplayVolumeControls" [ngClass]="{ 'hiddenControl': isControl == false

[2020-05-21 18:37] vmudigal commented on #57
@sanjay-devappsys, could you please share the code?

[2020-05-22 06:41] sanjay-devappsys commented on #57
Actually I just copy pasted the advanced option which you've written in the repo readme file, and I think the issue is because of the binding in `(ended )="onEnded($event)` attribute.
The compiler in the angular 9 has been updated, usually in angular 8 or lesser this error would have appeared while we `building`  the project. Anyway I was able to get rid of the error by adding an empty `onEnded` f

[2020-05-30 11:50] RokoKrstulovicBV opened #59 "Allow start/end offset of the audio"

[2020-05-30 11:55] RokoKrstulovicBV commented on #59
I'd like to create a PR for this if that is okay.

[2020-05-30 13:03] RokiFoki opened #60 "Allow start/end offset of the audio"
I'd like to create a PR for this if that is okay, I don't have permission to create a branch.

Closing https://github.com/vmudigal/ngx-audio-player/issues/59 (duplicate).

[2020-05-30 13:03] RokoKrstulovicBV commented on #59
duplicate of #60.

[2020-05-30 13:03] #59 closed

[2020-06-04 00:17] #57 closed

[2020-06-04 14:51] #60 closed

[2020-06-07 04:43] #7 closed

[2020-06-07 04:47] vmudigal commented on #20
Obselete.

[2020-06-07 04:47] #20 closed

[2020-06-07 04:50] #3 closed

[2020-06-07 06:06] dtyaden commented on #48
just in case you're stuck on this or other people are, this is what I did:
[code]

and then i just added a slider that calls the set method.

[2020-06-07 07:18] dtyaden commented on #50
Had this problem today as well... in case you're still on this or anyone else comes across this issue where the advanced player doesn't update when you modify the playlist at all:

You need to directly update the player's `playlist` and call `ngOnInit`.

[code]

If you look at the advanced audio player, there's a set method on playlist

[code]

but for some reason it doesn't get called... is it be

[2020-06-10 01:09] vmudigal commented on #50
Fixed in https://www.npmjs.com/package/ngx-audio-player/v/9.1.0

[2020-06-10 01:09] #50 closed

[2020-06-10 01:11] vmudigal commented on #4
Fixed in https://www.npmjs.com/package/ngx-audio-player/v/9.1.0 for mat-advanced-audio-player.  Will take care for mat-basic-audio-player soon.

[2020-06-10 01:11] vmudigal commented on #43
Fixed in https://www.npmjs.com/package/ngx-audio-player/v/9.1.0

[2020-06-10 01:11] #43 closed

[2020-06-12 00:37] dm-grinko opened #64 "ngx-audio-player styles"
The player is working but there is no styles. The documentation is horrible.

https://monosnap.com/file/LvHvhphA0Sck570ZzCGPzsIVg81LAv

[2020-06-14 17:48] keschra opened #65 "Get current played title"
Is it possible to get the current played song of the player? I want to add an image above the player but it should switch when another song is played. I could not find out how to get the current song.

[2020-06-15 00:39] vmudigal commented on #65
As of today, the mat-advanced-audio-player supports this functionality if ngx-audio-player version is more than 9.1.0.

You could achieve this by the code below,

[code]

[2020-06-15 00:53] vmudigal commented on #64
Hi @dm-grinko,

Please feel free to refer an example from the Stackblitz URL below,

https://stackblitz.com/edit/ngx-audio-player-v9-advanced

Could you please let me know your thoughts on what contents could be included in the documentation and how could it be structured to perfect so it's easy to refer.

Thanks,
VJ

[2020-06-15 15:33] keschra commented on #65
Thank you! This should work. Can you add the service to the public_api? At the moment i cant import the service to my project.

[2020-06-18 19:08] Abdullah0991 opened #66 "`ended` event not firing"
Hi,
Using this lib version 9.1.0 in Angular version 9.0.0, the `ended` event not fired when the player finish playing.

Test done on Chrome and FireFox browsers, `*.wav` and `*.mp3` formats.

[code]

[2020-06-18 22:28] vmudigal commented on #66
Hi,

Could you please try to use (trackEnded)="playAudioFileEnded($event)" instead of (ended)="playAudioFileEnded($event)"?

I will update the document soon.

Thanks.

Best Regards,
Vijayendra

[2020-06-18 22:32] vmudigal commented on #65
Hi @keschra,

It is available in 9.1.0.
https://github.com/vmudigal/ngx-audio-player/blob/9.x.x/projects/ngx-audio-player/src/public_api.ts

Thanks.

Best Regards,
Vijayendra

[2020-06-20 13:04] keschra commented on #9
I have the same problem since I did the update from version 9.0.7 to 9.1.0
I have a shared module where i have imported the ngx audio player, the shared module is imported to all other sub modules. The player it self is used in 2 different submodules.
If i just import the player to the app.module everything is working but i get a compiltion error:

1. If 'mat-advanced-audio-player' is an Angular c

[2020-06-21 06:32] goutick commented on #66
Hi,
First of all thanks for writing this Audio Player!! :)

I had already added  (trackEnded) = "TrackEnded($event)" still it did not fire the _TrackEnded($event)_ and it did not play next song automatically.

Please find the attached images :

![Screen Shot 2020-06-21 at 11 48 04 AM](https://user-images.githubusercontent.com/26975317/85218235-ef17fa80-b3b5-11ea-9704-4f3b60d6e4f6.png)

![Screen Sh

[2020-06-21 09:39] Abdullah0991 commented on #66
Same!! not working.

[2020-06-21 09:47] Abdullah0991 opened #68 "Feature request: Auto-replay option"
Hi,

I know I can use the `trackEnded` event for auto-replay the track, but It will be more beautiful if this option added to the library, especially if you could also add a `button toggle` or `checkbox` control to control this option from the UI, the `toggle button` could be added besides the volume mute button.

Regards.

[2020-06-22 11:07] Abdullah0991 commented on #66
Sorry, It worked in FF but doesn't in Chrome.

[2020-06-23 18:40] vmudigal commented on #68
duplicate of Auto Play Error #58

[2020-06-23 18:42] vmudigal commented on #19
Obsolete

[2020-06-23 18:42] #19 closed

[2020-06-23 18:47] vmudigal commented on #4
Fixed and available in https://www.npmjs.com/package/ngx-audio-player/v/9.1.1

[2020-06-23 18:47] #4 closed

[2020-06-23 18:47] vmudigal commented on #14
Fixed and available in https://www.npmjs.com/package/ngx-audio-player/v/9.1.1

[2020-06-23 18:47] #14 closed

[2020-06-23 18:48] vmudigal commented on #23
Obsolete in v9.1.1.

[2020-06-23 18:48] #23 closed

[2020-06-23 18:53] vmudigal commented on #66
Working in Chrome Version 83.0.4103.97. Could you please provide more info?
Also, could you please check for "Browser compatibility" at https://developer.mozilla.org/en-US/docs/Web/API/HTMLMediaElement/ended_event

[2020-06-23 19:06] vmudigal commented on #65
With version 9.1.1 you could refer the audioPlayerService from the component.

[2020-06-23 19:06] #65 closed

[2020-06-23 19:08] vmudigal commented on #40
@karincayazilim, I will work on this. :)

[2020-06-23 19:10] Abdullah0991 commented on #66
I already have Chrome v83.0.4103.106, and now I updated it to v83.0.4103.116 and still not working.

For "Browser compatibility", I checked it and it says it fully compatible from v3.

[2020-06-23 19:15] naveen11 commented on #23
I fixed this issue by changing below method..It's working with V8.0.3.

ngOnInit() {
        this.setDataSourceAttributes();
        this.bindPlayerEvent();
        this.player.nativeElement.addEventListener('ended', (/**
         * @return {?}
         */
            () => {
                if (this.checkIfSongHasStartedSinceAtleastTwoSeconds()) {
                    this.nextSong();

[2020-06-23 19:17] vmudigal commented on #66
Looks like this is hard to replicate. I will check, meantime if anyone figures out the root cause, please share.

<img width="853" alt="Screenshot 2020-06-24 at 00 45 07" src="https://user-images.githubusercontent.com/1531622/85448328-34098000-b5b4-11ea-8e08-51c1ad7b8aba.png">

[2020-06-23 19:25] Abdullah0991 commented on #68
Sorry, but what's the link between auto-**replay** and auto-**play** ?

[2020-06-23 19:41] vmudigal commented on #68
My bad, read it wrong. Sorry.

[2020-06-23 21:07] vmudigal commented on #68
Duplicate of Repeat/Loop function #47

[2020-06-23 21:07] #68 closed

[2020-06-24 07:00] keschra commented on #9
@vmudigal can you check this please?

[2020-06-24 08:21] vmudigal commented on #9
@keschra This has been taken care in 9.1.1. Could you please upgrade the version?
Thanks.

[2020-06-24 09:20] keschra commented on #65
@vmudigal since the update to 9.1.1 it is not working anymore. Version 9.1.0 was working

[2020-06-24 09:27] vmudigal commented on #65
@keschra , The working demo is publish at https://vmudigal.github.io/ngx-audio-player/.

It must be an issue with the setup, could you please refer the demo code while I work on the documentation for all of the features provided by the library.

[2020-06-24 09:31] vmudigal commented on #65
@keschra , If you could share the code in stackblitz, I could help you fix the issues with the setup. Thanks.

[2020-06-24 09:57] goutick commented on #66
Thanks for your reply.

My PlayList = [
{
title: "Test.mp3",
link:"https://file-examples.com/wp-content/uploads/2017/11/file_example_MP3_700KB.mp3"
},
{
title:"2.mp3"
link : "http://localhost:8080/GetSong/Song=2.mp3"
}]

Can you please try using the same link _("https://file-examples.com/wp-content/uploads/2017/11/file_example_MP3_700KB.mp3")_

For the second song I was sending song from a Node Ap

[2020-06-24 12:28] keschra commented on #65
@vmudigal  where can i view the demo code? I can't find the code of the working demo.
by the way, many thanks for the good support!

[2020-06-24 14:36] vmudigal commented on #65
@keschra what you see at  https://vmudigal.github.io/ngx-audio-player/ is from the code at https://github.com/vmudigal/ngx-audio-player/tree/master/src/app/home. Please look at home.component.html and home.component.ts.

Please feel to let me know incase of any concerns.

[2020-06-28 07:53] NealSavant opened #70 "Provide option to not load URL's on page load"
Currently, the initial media request to populate the SRC url is triggered on page load. HTML Audio Element has a function preload="none" which prevents this. I am trying to display many audio play buttons in a table and would prefer they not automatically all populate.
Providing a comparable preload="none" would allow me to use this in my project, thanks.

[2020-07-06 19:02] Oliverq755 commented on #66
The same issue facing here too. I checked it out in both FF and Chrome, None worked. Looking forward for the faster fix for this issue.

[2020-07-07 03:41] Oliverq755 commented on #42
@raphael-jungers
I tried with the solution but didn't work out. I am getting error like
`ERROR TypeError: Cannot read property 'resetSong' of undefined
    at ....
ERROR TypeError: Cannot read property 'play' of undefined
    at... `
``

[2020-07-08 08:05] karincayazilim commented on #40
not working in IOS thanks you

[2020-07-11 00:32] guitargfv opened #72 "how to enable the automatic playback of the next song in the playlist?"
My playlist does not automatically play the next song after the end of the previous one. Any tips?

[2020-07-11 00:36] guitargfv opened #73 "Allow internationalization of fixed texts"
As a suggestion, you could allow the internationalization of fixed texts such as:
  - "Items per page"
  - "Playlist"
  - "Tile"
Making values dynamic would also be interesting

[2020-07-15 15:50] angristan commented on #66
I'm facing this too ! I didn't understand what I did wrong but it turns out the event is never fired:

![image](https://user-images.githubusercontent.com/11699655/87566631-980afa00-c6c3-11ea-9df0-12ae0f27e62a.png)

[2020-07-15 16:09] angristan commented on #66
I think it's because we expect the `ended` event to be fired when the track finished playing.

If you fast-forward to the end, it will most likely not work for some reason. Try by playing the track from the beginning and let it play until the end: the event will fire.

https://developer.mozilla.org/en-US/docs/Web/API/MediaStreamTrack/ended_event:

So it **does** work (regardless of the browser), b

[2020-07-20 14:08] Gil-Epshtain opened #75 "Handle audioUrl change event"
I have an Angular component with the player in it. I pass to it - via the `audioUrl` attribute - a value.
Then on some user input I change the `audioUrl` to a different value.

If this happens while the player is playing the playback then:
1. The timeline will not reset - it shows the previuse timeline value (I found a work around, by setting the `startOffset` value to 0 each time the playback is

[2020-07-21 09:37] Zokor opened #76 "Not working in Angular 10 yet"

[2020-07-30 01:59] dm-grinko commented on #72
play(item: any) {
    this.msbapTitle = item.title;
    this.msbapAudioUrl = item.url;
    const player = document.querySelectorAll('audio')[0];
    setTimeout(() => {
      player.play();
    }, 1000);
  }

[2020-08-02 06:53] Kyaw-Zin-Thant opened #78 "Hide or disable moving Progress Bar"
![image](https://user-images.githubusercontent.com/28556739/89117376-40da9700-d4c3-11ea-982b-284fd43421b2.png)

I want to hide or disable moving forward and backward. How can I do?

[2020-08-12 18:37] #76 closed

[2020-09-05 20:12] #78 closed

[2020-09-05 20:13] vmudigal commented on #72
The regression has been taken care from v8 and above.

[2020-09-05 20:13] #72 closed

[2020-09-05 20:14] vmudigal commented on #66
It was a regression. Have fixed the issue on v8 and above.

[2020-09-05 20:14] #66 closed

[2020-09-05 23:33] vmudigal commented on #73
Except "Play List" and "Title" (will work on it), everything else such as "Items per page", "1 – 2 of 4", "Next Page", "Last Page", "Previous Page", "First Page" is taken care by MatPaginatorIntl.

Please refer below:
https://stackoverflow.com/questions/47593692/how-to-translate-mat-paginator-in-angular-4

[2020-09-12 17:20] ghill7777 commented on #64
I had purple-green instead of deeppurple-amber for the material style.  None of the control buttons / mat-icons showed until I switched to deeppurple.  The icons were white on a white background.. FYI

[2020-09-16 11:04] #28 closed

[2020-09-16 11:05] vmudigal commented on #73
Available in https://www.npmjs.com/package/ngx-audio-player/v/10.1.0

[2020-09-16 11:05] #73 closed

[2020-09-16 11:06] vmudigal commented on #64
Fixed in https://www.npmjs.com/package/ngx-audio-player/v/10.1.0

[2020-09-16 11:06] #64 closed

[2020-09-16 11:06] vmudigal commented on #5
Fixed in https://www.npmjs.com/package/ngx-audio-player/v/10.1.0

[2020-09-16 11:06] #5 closed

[2020-09-21 08:29] nangio2019 commented on #9
I fixed this

I fixed : by removing BrowserAnimationsModule in ngx-audio-player.module.ts and build lib.

[2020-09-22 22:56] adrian5632 commented on #9
The issue still persists. It becomes apparent when we use lazy loaded modules. From what I understood, BrowserAnimationsModule should not be imported by libraries - this should only be imported once by the *app's root module* - if you need to deal with animations, perhaps NoopAnimationsModule would be a choice?

[2020-09-23 10:40] Abdullah0991 commented on #47
For anyone want to implement this feature manually:

In template:
`<mat-basic-audio-player #audio_player (trackEnded)="playAudioFileEnded($event)"></mat-basic-audio-player>`

In ts:
[code]

[2020-10-11 10:05] Zokor opened #83 "Since new 10.0.0 version triggers BrowserModule issue"
Hi,

This component is throwing

ERROR Error: Uncaught (in promise): Error: BrowserModule has already been loaded. If you need access to common directives such as NgIf and NgFor from a lazy loaded module, import CommonModule instead.
Error: BrowserModule has already been loaded. If you need access to common directives such as NgIf and NgFor from a lazy loaded module, import CommonModule instead.

[2020-10-14 14:14] aalexop commented on #83
Any solution for this issue?

[2020-10-14 19:01] Zokor commented on #83
You can remove the references from your current Node Modules to the BrowserModule of the ngx-audio-player.

But if they update this it would be better.

[2020-10-18 11:59] Suroor-Ahmmad opened #84 "Unable to play streaming audio"
I'm trying to play streaming audio from my nodejs server, which is served in chunks. I tried setting link to that endpoint, but the player doesn't seem to capture the source. Is it possible to play streaming audio using this library?

[2020-10-29 09:03] shajuMurugan commented on #47
Hi I need to hide the play next and prev is possible??

[2020-11-05 20:25] shajuMurugan opened #85 "endoff set not working in ngx audio player version 8.1.1"
hi @vmudigal  only startOffset is working while i used the plug in angular 8

code for your reference
    <ngx-audio-player
      [startOffset]=startOffset
      [endOffset]=endOffset
      [autoPlay]=true
      [displayPlaylist]=false
      [playlist]="playlist">
    </ngx-audio-player>

playlist we hitting the api data

In player.ts
@Input() startOffset = 0;
  @Input() endOffset = 180;

startoff

[2020-12-24 06:38] Nouman24 opened #88 "Audio duration above 100m is not displaying correct in version 8.1.1"
Hi guys, I'm using the latest version 8.1.1 of the player.  unlucky I got an issue with the player.   I have uploaded a file of duration 2h and 11m. which means duration should be 131m but the player is showing only 31.  see when the remaining duration is less than 100 then it is showing the correct duration.

![image](https://user-images.githubusercontent.com/18117734/103067191-30df6300-45dc-11eb

[2020-12-27 23:30] 6utt3rfly commented on #83
PR #86 - I'm using it with by putting the github link in my package.json file:
[code]

[2021-01-05 07:50] vmudigal commented on #83
Sorry for the delay as I was occupied. The latest versions have the fix.

v8.1.1, v9.2.0 and v10.1.1

[2021-01-05 07:50] #83 closed

[2021-01-10 19:58] #88 closed

[2021-01-11 09:04] Urinprobe opened #92 "duration over 60 minutes displays as eg. 01:75:15"
#89 introduced the ability to display durations of above 60 minutes as `h:m:s`.
If minutes is higher than 60 there is an error that shows the amount of minutes as over 60

[2021-01-11 09:08] Urinprobe commented on #92
I will submit a fix to this today

[2021-01-11 11:10] Urinprobe commented on #2
this issue might be closed, as it was merged

[2021-01-11 12:10] #92 closed

[2021-01-11 18:51] Zokor opened #96 "Package "ngx-audio-player" has an incompatible peer dependency to "@angular/material" (requires "^10.0.0", would install "11.0.3")."
Hi m8,

Thank you for your work :)

Is it possivel if you bump the version to the latest angular material?

Cheers

[2021-01-12 05:25] vmudigal commented on #96
Hi @Zokor, are you using [ngx-audio-player@v11.0.2](https://www.npmjs.com/package/ngx-audio-player/v/11.0.2)?

[2021-01-12 11:21] Zokor commented on #96
Oh, i'm sorry man. It's fine! :) let me close this

[2021-01-12 11:21] #96 closed

[2021-01-22 10:31] get2abhi opened #97 "Play single audio file without repeating"
I used only 1 item in the array and the player worked fine however the audio is getting played in a loop. I used the trackEnded callback but couldn't find a way to stop the player.

[2021-02-06 12:33] pulkitpatel95 commented on #97
how to get instance of audio player and is there any method to stop audio ?

[2021-02-06 13:24] pulkitpatel95 commented on #97
You can empty the track array on trackEnded callback. (You can push the track in array again if you want to see it on page)

sample

onEnded($event): void {
    this.msaapPlaylist = [];
    this.msaapPlaylist.push({
      title: 'Play One Track Only',
      // link: '../../assets/audios/005_30_second.mp3',
      link: 'https://www.w3schools.com/html/horse.ogg',
      artist: 'Pulkit',
    });
  }

[2021-02-06 20:18] get2abhi commented on #97
Thanks. that worked

[2021-02-09 11:35] vmudigal commented on #97
Feature available in v8.1.4, v9.2.3, v10.1.4 and v11.0.4.

[2021-02-09 11:35] #97 closed

[2021-02-09 11:35] vmudigal commented on #47
Feature available in v8.1.4, v9.2.3, v10.1.4 and v11.0.4.

[2021-02-09 11:35] #47 closed

[2021-02-23 06:19] SomnathS09 opened #98 "keeps loading instead of showing play button"
It shows loading , instead of play button
![ngx-player-bug](https://user-images.githubusercontent.com/56193185/108808707-31d94480-75cd-11eb-95bb-83be72fe0177.JPG)

[2021-02-23 06:31] SomnathS09 commented on #98
A valid audio path solves the problem , but need a way to control this programmetically

[2021-02-25 13:29] OleksandrGryb commented on #40
Hello, I need to stop track when user click on button but not at player button, how can I do it?

[2021-03-02 12:19] anshup7 opened #99 "track ended event returns only an "ended" string"
It should send the reference to current sound controls object so that the sound can be stopped. In default settings the sound continues to play

[2021-03-05 08:44] VasuInukollu opened #100 "Problems with empty playlist"
When the playlist is empty, there is a get request being sent to the server with the following headers.

[code]

How to stop this request from being sent?

[2021-03-06 06:50] VasuInukollu commented on #99
You can try to remove the playlist when you receive the event. It is a work around and not a solution.

[2021-03-10 07:00] sujaydinakar opened #102 "Is there a document to implement advanced options onEnded and PageSizeOptions"
ERROR in src/app/modules/components/ngx-audio-prayer/ngx-audio-prayer.component.html(2,60): Property 'pageSizeOptions' does not exist on type 'NgxAudioPrayerComponent'.
src/app/modules/components/ngx-audio-prayer/ngx-audio-prayer.component.html(2,96): Property 'onEnded' does not exist on type 'NgxAudioPrayerComponent'.

ERROR in src/app/modules/components/ngx-audio-prayer/ngx-audio-prayer.componen

[2021-04-02 07:44] avgustine opened #103 "Preload property for audio tag"
It would be nice to have ability to change preload property of underlying audio tag(to "none" for example).
The real problem is when you need to have large number of players on the page and each of them trying to preload their playlists which resulting in a serious performance issues.

[2021-04-02 07:47] nsnayp13 commented on #103
Yeah. Really I thought this feature was a must-have for such project...

[2021-04-08 21:34] kennyhitachi commented on #49
Just checking if there is any update on this issue. Or we have to build it referencing https://auth0.com/blog/building-an-audio-player-app-with-angular-and-rxjs/

[2021-04-24 09:59] jigneshk5 opened #106 "autoPlay not working"
I'm getting this error on browser console.

Uncaught (in promise) DOMException: play() failed because the user didn't interact with the document first. (at ngx-audio-player.js:163  )

[2021-05-05 15:23] JonasBraier opened #107 "Audio player starts over current track on toggle pause-play"
Hey

i wonder why my player is starting over the current track when i toggle pause-play. Is there a way to toggle that functionality or could there be something wrong with the track itself? Thanks in advance.

[2021-05-18 12:37] Urinprobe commented on #103
Duplicate of #70

[2021-05-19 18:06] vmudigal commented on #107
Strange corner case. Not able to replicate. Could you please share the code via stackblitz? Maybe you could refer this: https://stackblitz.com/edit/ngx-audio-player-v9-basic

[2021-05-19 18:10] vmudigal commented on #106
duplicate of #58

[2021-05-19 18:10] #106 closed

[2021-05-26 05:31] ManjuTumkur opened #112 "Need help on slider drag and start play from the same point"
facing issue to start the audio where it is stopping , Need help on slider drag and start play from the same position. but once we stop or drag the slider pointer come and starts from beginning.

[2021-08-05 08:56] teamz-marcos commented on #107
Hi.

I have the same error. I press play, audio starts, press pause, audio restart from beginning

[2021-08-05 13:03] ShrihariMohan opened #116 "Music Slider disappears in Mobile view ( Slider is the important functionality of a music player why hide them)"

[2021-09-20 03:31] jossemarGT commented on #15
Hey @jwhijazi  I think you are looking for `displayDuration` property. Happy hacking :octocat:

[2021-09-20 05:08] SikderRakin opened #120 "Please add customer background image and volume control (like I want set vol 30%)"

[2021-10-19 08:52] acortino opened #122 "Support for Angular 12"

[2021-11-24 16:07] Hadeer200 opened #123 "require play and pause events"
I have a slider which contains media (ngx audio and default video element ) ,when I play the audio and move to the next slide which has video then press play the video ;the audio doesn't stop/pause .

[2021-12-07 23:09] tekpartner-new opened #124 "Please provide option to Stop Repeating."
Thanks for the awesome tool.

Could you also provide an option for stop repeating when the track is done playing?

[2021-12-28 05:33] SomnathS09 commented on #124
Yes, this option should be included

[2022-01-06 21:51] Eternal21 commented on #49
I wasn't able to find any solutions for this.  Looks like the only option at this point, is downloading the file using your own API requests, and then pointing the player to the downloaded file.

[2022-02-13 08:26] kareemjeiroudi opened #130 "Provide next() and previous() event emitters"
When integrating this audio player in my application, I realized that it would make a day and night difference to have an event announced every time the buttons `skip-forward` and `previous-track` are pressed (one each). We can then subscribe to these events just like we do with `trackDone()` and decide what to do in that scenario.

Currently the only way to overcome this issue is by explicitly qu

[2022-02-13 19:24] kareemjeiroudi commented on #124
@tekpartner can you elaborate more. Isn't this what the repeat controls already offer? Have you already tried `displayRepeatControls`

[2022-02-14 05:21] SomnathS09 commented on #124
`displayRepeatControls` just toggles the display property of repeat button not the behaviour. We need a way to stop repeat funtionality programmatically.

[2022-02-18 08:51] ngitzarak opened #133 "Material UI not working"
![scr1](https://user-images.githubusercontent.com/10203817/154649213-d1b827cb-345f-401b-8ae5-066211847df5.png)

Why is this not working? I tried using both angular/cli 11 and 13

[2022-03-21 19:24] alphagamer7 commented on #75
+1

[2022-04-29 10:16] izetrom opened #138 "using this component in angular code"
Hi, i'mreading the documentation and i was wondering if i can call functions of the player in my .ts file like play or anything, i don't find that in the documentation so maybe it's just impossible ? thanks in advance for any answers !

[2022-05-09 09:39] fatimatahira7 opened #139 "Page Size issue when i try to set single player."
Cannot read properties of undefined (reading 'pageSize')
    at e.nextSong.

I get this error whenever the track ends and its a single playlist. How do i go about resolving this?

[2022-05-22 22:07] Jazzyspoon commented on #122
I have this currently working just fine on Angular 13. :). https://jazzyspoon.github.io/angular-mp3-player/